@charset "utf-8";
@font-face{
    font-family: NtSansKR;
    font-weight: 400;
    font-style: normal;
    src: url("../../../fonts/NotoSansKR-Regular.eot");
    src: local("Noto Sans KR"),
            url("../../../fonts/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"),
            url("../../../fonts/NotoSansKR-Regular.woff2") format("woff2"),
            url("../../../fonts/NotoSansKR-Regular.woff") format("woff"),
            url("../../../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face{
    font-family: NtSansKR;
    font-weight: 700;
    font-style: normal;
    src: url("../../../fonts/NotoSansKR-Bold.eot");
    src: local("Noto Sans KR"),
            url("../../../fonts/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"),
            url("../../../fonts/NotoSansKR-Bold.woff2") format("woff2"),
            url("../../../fonts/NotoSansKR-Bold.woff") format("woff"),
            url("../../../fonts/NotoSansKR-Bold.otf") format("opentype");
}

/* tag reset */
body, ul, h4, p, button{margin: 0;padding: 0;}
ul{list-style: none;}
h4{font-size: 100%;}
button{border: none;background: none;cursor: pointer;}
a:link, a:visited, a:hover, a:active{color: inherit;text-decoration: none;}
img{vertical-align: top;}

/* common class */
.blind{width: 1px;height: 1px;position: absolute;overflow: hidden;border: 0;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.blind2{width: 1px;height: 1px;margin: -1px;overflow: hidden;border: 0;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);display: inline-block;}

body{font-family: NtSansKR;font-size: 16px;color: #333333;}

/* mainTab */
#mainTab{width: 1170px;height: 680px;margin: 50px auto;}
#mainTab .tablist{height: 50px;margin-bottom: 30px;}
#mainTab .tablist li{float: left;width: 380px;height: 50px;line-height: 48px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 1px solid #ccc;background: #f2f2f2;font-size: 18px;color: #000000;text-align: center;cursor: pointer;}
#mainTab .tablist li + li{margin-left: 15px;}
#mainTab .tablist li:hover, #mainTab .tablist li:focus, #mainTab .tablist li.active{background: #00326c;border-color: #00326c;color: #ffffff;}

#mainTab .tabpanel{position: relative;height: 600px;display: none;color: #ffffff;}
#mainTab .tabpanel.active{display: block;}

#mainTab .tabpanel .bg{position: relative;height: 530px;text-align: center;}
#mainTab #tabpanel1 .bg{background: url("../images/main/img_life1.jpg");}
#mainTab #tabpanel2 .bg{background: url("../images/main/img_life2.jpg");}
#mainTab #tabpanel3 .bg{background: url("../images/main/img_life3.jpg");}

#mainTab .tabpanel .bg h4{padding-top: 163px;font-size: 74px;line-height: 111px;}
#mainTab .tabpanel .bg p{position: relative;padding-top: 30px;line-height: 22px;}
#mainTab .tabpanel .bg p:before{content: "";position: absolute;top: 0;left: 50%;margin-left: -30px;width: 60px;height: 3px;background: #ffffff;}
#mainTab .tabpanel .bg img{position: absolute;right: 50px;bottom: 50px;}
#mainTab .tabpanel .bg button{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#mainTab .tabpanel .bg button:focus:after{content: "";position: absolute;top: 1px;left: 1px;width: calc(100% - 2px);height: calc(100% - 2px);outline: 2px dashed #ffff00;}

#mainTab .tabpanel a{position: absolute;right: 0;bottom: 0;width: 180px;height: 40px;line-height: 38px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 1px solid #666;background: #999999 url("../images/main/arr_more.png") no-repeat 119px 50%;padding-left: 43px;margin-top: 30px;font-size: 14px;}